<div class="typing-component-root" [ngClass]="currentTheme()">
  @if(testFinished()){
  <app-final-score [wpm]="wpm()" [accuracy]="accuracy()" [level]="currentLevel()" [points]="currentPoints()"
    (close)="onFinalScoreClose()">
  </app-final-score>
  }
  <header class="app-header">
    <img src="assets/logo.png" alt="Typing Speed Test Logo" class="logo">
    <h1>Test your typing speed</h1>
  </header>
  <div class="stats">
    @if (!testFinished()) {
    <div class="stat-item">
      <span>Time Left:</span>
      <strong>{{ timeLeft() }}s</strong>
    </div>
    }
    @if (testFinished()) {
    <div class="stat-item">
      <span>WPM:</span>
      <strong>{{ wpm() }}</strong>
    </div>
    <div class="stat-item">
      <span>Accuracy:</span>
      <strong>{{ accuracy() }}%</strong>
    </div>
    }
    <div class="level-status">
      <p>Level: {{ currentLevel() }}</p>
      <p>Points: {{ currentPoints() }} / {{ pointsForNextLevel() }}</p>
    </div>
  </div>

  <div class="text-display" #textDisplay>
    @for (word of words(); track $index) {
    <span class="word" #wordElement [ngClass]="wordStates[$index]()">{{ word }}</span>
    }
  </div>

  <div class="input-area">
    <input #typingInput type="text" (input)="onInput($event)" [disabled]="testFinished()" placeholder="Type here..."
      autocomplete="off" spellcheck="false" />
    @if (timerRunning()){
    <button (click)="resetTest()" class="reset-button">Reset</button>
    }
  </div>
</div>